<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">But de ce site web</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0">Ce site à été créé dans le cadre du huitième projet du parcours "Développeur d'application Python" <a href="https://openclassrooms.com/fr/">d'OpenClassrooms</a>.</p>
    </div>

    <div class="container">
        <h2 class="text-center mt-0">Charte Graphique</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0"><a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">La charte graphique est disponible à cette adresse</a></p>

    </div>

    <div class="container">
        <h2 class="text-center mt-0">Template utilisé</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0"><a href="https://startbootstrap.com/themes/creative/">Bootstrap Creative</a></p>


    <div class="container">
        <h2 class="text-center mt-0">Icone de carotte</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0"><a href="https://thenounproject.com/term/carrot/29691/">L'icone de carotte est disponible à cette adresse</a></p>

    <div class="container">
        <h2 class="text-center mt-0">La photo en fond de la page d’accueil</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0"><a href="https://unsplash.com/photos/eqsEZNCm4-c">Olenka Kotyk</a></p>

    </div>

    <div class="container">
        <h2 class="text-center mt-0">Hébergement</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0">Ce site est hébergé par la plate forme <a href="https://www.heroku.com">Heroku</a></p>

    </div>

</section>
