<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Colette et Rémy</h2>
        <hr class="divider my-4" />
        <p class="text-center mt-0">Le projet Pur Beurre est né de l'idée de deux amis: Colette et Rémy. Suite à une soirée gastromomique avec des amis qui se plaignait de pas avoir le temps de bien manger à cause d'emplois du temps chargés, une idée s'est mise à germer: Une plate forme où trouver des produits de substitution sains en un clic. Et Pur beurre était né!</p>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
              <img src="/static/assets/img/colette-tatou-full.png" height="200">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Colette</h3>
                    <p class="text-muted mb-0">Colette Tatou est avant tout une jeune femme de caractère. Pête à tout, son ardeur, patience et son talent l'ont fait réussir dans le milieu de la haute gastronomie majoritairement peuplé d'hommes. Toujours prête à relever de nouveaux défis, elle se lance dans le projet Pur Beurre.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
              <img src="/static/assets/img/ratatouille-portrait.jpg" height="200">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Rémy</h3>
                    <p class="text-muted mb-0">Rémy a toujours rêvé de devenir un grand chef cuisiner. Dès son plus jeune âge il à toujours refusé sa vie de rat d'égouts.Grâce à un odorat des plus fin il a réussi à intégrer un restaurent prestigieux. Aujourd'hui il entreprend une nouvelle aventure avec le projet Pur Beurre.</p>
                </div>
            </div>
        </div>
    </div>
</section>
