
        <!-- Call to action-->


        <!-- Footer -->
        <footer class="bg-light py-5">

            <section class="bg-light py-5">
                <div class="row">
                  <div class="col-lg-6 col-md-6 text-center">
                    <p><a href="{% url 'legal_notice_page' %}">Mentions légales</a></p>
                  </div>
                  <div class="col-lg-6 col-md-6 text-center">
                    <p><a id="contact" href="/#contact">Contacts</a></p>
                  </div>
                </div>
            </section>


        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
