<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">

    <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"><img src="/static/assets/img/logo_pur_beurre.png" height="75">Pur Beurre</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <form id='fname' name='fname' class="form-inline" method="post" action="{% url 'results_page' %}">
              {% csrf_token %}
              <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Exemple: Pâte à tartiner" name="your_name" maxlength="100" required>
              </div>
            </form>
            {% if user.is_authenticated %}
            <a href="{% url 'my_favourites_page' %}"><img src="/static/assets/img/Carrot.png" height="100"></a>
            <h3>Bonjour {{request.user}}</h3>
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-3x"></i></a>
            {% else %}
            <a href="{% url 'login_page' %}"><i class="fa fa-user fa-3x" aria-hidden="true"></i></a>
            <h3>Connectez vous SVP!</h3>
            {% endif %}

        </div>
    </div>

</nav>
